/*Общие стили*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.frequent-button {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  border-radius: 3px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  font-weight: 400;
  /*line-height: 18px;*/
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.logo-link {
  display: block;
  background-color: #ee3643;
}

/*Шапка*/

.main-header {
  font-family: "Cuprum", sans-serif;
}

.header-top-line {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  color: #ffffff;
}

.header-top-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.logo-link-header {
  width: 220px;
  padding-top: 13px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.header-search-form {
  width: 270px;
}

.header-search-form-field {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
  color: #ffffff;
}

.header-search-form-field::placeholder {
  color: #ffffff;
  opacity: 1;
}

.header-bookmark,
.header-cart,
.header-order-link {
  width: 150px;
  margin: 0;
  padding: 12px 0;
  text-align: center;
}

.header-top-line a {
  color: #ffffff;
}

.logo-link-header:hover {
  background-color: #ca2c37;
}

.logo-link-header:active {
  background-color: #ba2732;
}

.header-search-form input {
  background-color: #293449;
}

.header-search-form input:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-search-form:hover,
.header-search-form:hover input:not(:focus),
.header-cart:hover,
.header-bookmark:hover {
  background-color: #212a3a;
}

.header-cart:active,
.header-bookmark:active {
  background-color: #161d29;
}

.header-full-cart {
  background-color: #ee3643;
}

.header-order-link {
  background-color: #63a63e;
}

.header-order-link:hover {
  background-color: #5fbb2d;
}

.header-order-link:active {
  background-color: #518534;
}

  /*Нижняя часть хэдэра*/

.header-bottom-block {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.header-middle-block {
  display: flex;
  justify-content: flex-end;
  width: 940px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 44px;
}

.header-store-category {
  width: 196px;
  margin: 0;
  margin-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  margin-left: 71px;
  text-align: center;
}

.header-phone,
.header-address {
  margin: 0;
  padding: 0;
}

.header-phone a {
  display: block;
  width: 270px;
  padding: 9px 0;
  padding-left: 74px;
  padding-right: 45px;
  margin-bottom: 10px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.header-address {
  font-size: 14px;
  color: #32425c;
}

  /*Навигация пользователя*/

.header-user-navigation {
  margin-left: 69px;
  font-size: 0;
  line-height: 0;
}

.header-user-navigation-authorized {
  margin-left: 51px;
}

.header-user-navigation-login,
.header-user-navigation-authorized-list,
.header-user-navigation-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation-btn,
.user-navigation-user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.btn-sign-in {
  padding: 12px 25px;
  border: none;
}

.btn-log-in {
  padding: 12px 27px;
  padding-left: 48px;
  border: none;
}

.header-user-navigation-login-item {
  margin-right: 10px;
}

.header-user-navigation-login-item:last-child {
  margin-right: 0;
}

.user-navigation-user-name {
  display: block;
  width: 302px;
  padding: 12px 0;
  padding-left: 47px;
  padding-right: 69px;
  margin-bottom: 10px;
}

.header-user-navigation-menu-item {
  margin: 0 17px;
}

.user-navigation-btn:hover,
.user-navigation-user-name:hover {
  color: #ee3643;
}

.user-navigation-btn:active,
.user-navigation-user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation-link:hover {
  color: #ee3643;
}

.user-navigation-link:active {
  color: #32425c;
  opacity: 0.3;
}

  /*Главная навигация*/

.header-main-navigation {
  background-color: #f4f7f9;
}

.main-navigation-list {
  display: flex;
  justify-content: center;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #32425c;
}

.main-navigation-list a {
  display: block;
  padding: 0 30px;
  padding-top: 22px;
  padding-bottom: 21px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation-list a:hover {
  background-color: #293449;
}

.main-navigation-list a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.main-content {
  background-color: #ffffff;
}

/*Мэйн*/

.main-content {
  background-color: #ffffff;
  width: 940px;
  margin: 0 auto;
}

/*Футер*/

.main-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

  /*Футер верх*/

.footer-top-block {
  padding-bottom: 45px;
  background-color: #32425c;
}

.footer-top-block-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.footer-top-left-column {
  padding-right: 38px;
}

.logo-link-footer {
  width: 220px;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 32px;
  line-height: 0;
  text-align: center;
}

.footer-address {
  width: 323px;
  margin: 0;
  padding: 0;
}

.footer-phone-link {
  color: #ffffff;
}

.footer-info-menu-list,
.footer-products-menu-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info-menu-list {
  padding-top: 20px;
}

.footer-info-menu-list a {
  display: block;
  padding: 22px 30px;
  line-height: 18px;
  color: #f1f5f7;
}

.footer-info-menu-item:first-child a {
  padding-left: 0;
}

.footer-info-menu-item:last-child a {
  padding-right: 0;
}

.footer-products-menu-list a {
  display: block;
  padding: 23px 30px;
  line-height: 18px;
  color: #ffd180;
}

.footer-products-menu-item:first-child a {
  padding-left: 0;
}

.footer-products-menu-item:last-child a {
  padding-right: 0;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}
  /*Футер низ*/

.footer-bottom-block {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
  color: #ffffff;
}

.footer-bottom-block-container {
  display: flex;
  padding-top: 35px;
  padding-bottom: 30px;
  width: 940px;
  margin: 0 auto;
}

.footer-copyright {
  flex-shrink: 0;
  width: 228px;
  padding: 0;
  margin: 0;
  margin-right: 161px;
}

.social-network-list {
  display: flex;
  margin: 0 -3px;
  margin-right: 119px;
  padding: 0;
  list-style: none;
}

.social-link {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-link:hover,
.social-link:active {
  background-color: #ee3643;
}

.footer-feedback,
.footer-developer {
  margin: 0;
  padding: 0;
}

.footer-feedback {
  margin-right: 53px;
}

.footer-developer {
  margin-right: 15px;
}

.footer-feedback-link,
.footer-developer-link {
  color: #ffd180;
}

.footer-feedback-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active,
.footer-developer-link:active {
  color: #ee3643;
}

/*Главная страница*/

  /*Специальные предложения*/

.special-offers {
  font-family: "Cuprum", sans-serif;
}

.special-offers-item {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.popular-tools-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.popular-tools-heading {
  font-weight: 700;
  text-transform: uppercase;
}

.special-offers-materials {
  background-color: #ffbf47;
}

.special-offers-tools {
  background-color: #3bbce3;
}

.special-offers-machinery {
  background-color: #dc91d8;
}

.special-offers-sale {
  background-color: #8ed78f;
}

.special-offers-delivery {
  background-color: #ffc047;
}

.special-offers-popular-tools {
  background-color: #a9a9a9;
}

.special-offers-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.special-offers-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.special-offers-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.open-catalog-link:hover {
  background-color: #ca2c37;
}

.open-catalog-link:active {
  background-color: #ba2732;
}

  /*Секции популярных товаров и производителей*/

.popular-products-heading,
.popular-brands-heading {
  background-color: #f9f5f0;
}

.popular-heading-text {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

  /*Сервисы*/

.services {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #f4f7f9;
}

.services-heading-text {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.services-btn {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.services-btn-active {
  color: #32425c;
  background-color: #ffffff;
}

.services-btn:hover:not(.services-btn-active) {
  background-color: #293449;
}

.services-sliders-heading {
  font-family: "Cuprum", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

  /*Информация о доставке*/

.delivery-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  background-color: #ffffff;
}

.delivery-information-paragraph {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery-information-paragraph-first {
  margin-bottom: 26px;
}

.delivery-information-paragraph-second {
  margin-bottom: 16px;
}

.delivery-information-paragraph-third {
  width: 179px;
  margin-bottom: 34px;
}

.delivery-information-headline {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.transport-companies-delivery {
  width: 519px;
}

.transport-companies-list {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  list-style: none;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.transport-companies-list li {
  padding-left: 36px;
  margin-bottom: 22px;
}

.self-delivery {
  width: 300px;
  line-height: 0;
}

.self-delivery img {
  margin-bottom: 40px;
}

.about-company-btn {
  width: 220px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 3px;
}

.message-btn {
  width: 300px;
}

/*Каталог*/

.main-catalog {
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

  /*Хлебные крошки*/

.breadcrumbs-navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-navigation-list li,
.breadcrumbs-navigation-list a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-navigation-list li:last-child,
.breadcrumbs-navigation-list a {
  padding-top: 20px;
  padding-bottom: 21px;
  padding-right: 17px;
  padding-left: 24px;
}

.breadcrumbs-navigation-index-icon {
  display: block;
  width: 31px;
  height: 12px;
}

.catalog-heading {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 29px;
  padding-bottom: 31px;
  padding-left: 30px;

  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.main-catalog-container {
  display: flex;
}

.main-catalog-left-column {
  width: 220px;
  margin-right: 20px;
}

.main-catalog-right-column {
  width: 700px;
}

  /*Блок фильтров*/

.products-filter-heading,
.products-sorting-heading {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
}

.products-filter-heading {
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 3px;
}

.products-filter-price-heading,
.products-filter-brands-heading,
.products-filter-power-heading {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.products-filter-price-field input,
.products-filter-price-value {
  background-color: #f7f3ec;
}

.products-filter-brands-list,
.products-filter-power-list {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.products-filter-btn-show {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

  /*Сортировка*/

.products-sorting {
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 3px;

  background-color: #f7f3ec;
}

.products-sorting-heading {
  padding-left: 19px;
  margin: 0;
}

.products-sorting-link {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
  color: #000000;
  opacity: 0.3;
}

.products-sorting-link:hover:not(.active-sort) {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.active-sort {
  border-bottom: none;
  color: #ee3643;
  opacity: 1;
}

  /*Карточки товаров*/

.product-cards-list {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-cards-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.product-cards-list li:nth-child(3n) {
  margin-right: 0;
}

.product-heading {
  width: 220px;
  padding-top: 7px;
  padding-bottom: 3px;
  padding-left: 31px;
  padding-right: 32px;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  text-align: center;
}

.old-price,
.current-price {
  display: block;
  width: 122px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
}

.current-price {
  margin-bottom: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
}

.product-card-buy-btn,
.product-card-bookmark-btn {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.product-card-buy-btn {
  color: #ffffff;
  background-color: #63a63e;
}

.product-card-buy-btn:hover {
  background-color: #5fbb2d;
}

.product-card-buy-btn:active {
  background-color: #518534;
}

.product-card-bookmark-btn {
  color: #32425c;
  background-color: #ffffff;
}

.product-card-bookmark-btn:active {
  opacity: 0.3;
}

.product-card-hover-block {
  display: none;
}

  /*Пагинация*/

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.pagination-current-link {
  color: #ffffff;
  background-color: #ee3643;
}

.product-footnote {
  background-color: #f4f7f9;
}

.product-footnote-heading {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.product-footnote-content {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/*Модальные окна*/

.modal-map,
.modal-message,
.modal-add-to-cart {
  display: none;
}
