/*Общие стили*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.frequent-button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 3px;

  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.logo-link {
  display: block;
  background-color: #ee3643;
}

/*Шапка*/

.main-header {
  font-family: "Cuprum", sans-serif;
}

.header-top-line {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  color: #ffffff;
}

.header-top-line a {
  color: #ffffff;
}

.header-top-line-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

/*Логотип*/

.logo-link-header {
  position: relative;
  width: 220px;
  padding-top: 13px;
  padding-bottom: 10px;

  text-align: center;
  font-size: 0;
  line-height: 0;
}

.logo-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;

  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo-link-header img {
  width: 109px;
  height: 19px;
}

.logo-link-header:hover,
.logo-link-header:hover::after,
.logo-link-header:focus,
.logo-link-header:focus::after {
  background-color: #ca2c37;
}

.logo-link-header:active,
.logo-link-header:active::after {
  background-color: #ba2732;
}

/*Поиск*/

.header-search-form {
  position: relative;
  width: 270px;
  background-color: #e5e5e5;
}

.header-search-btn {
  position: absolute;
  left: 17px;
  top: 12px;
  width: 17px;
  height: 17px;
  border: none;

  background-color: transparent;
  background-image: url("../img/svg/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  cursor: pointer;
}

.header-search-form-field {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 48px;

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
  color: #ffffff;
}

.header-search-form-field::placeholder {
  color: #ffffff;
  opacity: 1;
}

.header-search-form-field {
  background-color: #293449;
}

.header-search-form-field:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-search-form:hover,
.header-search-form:hover input:not(:focus) {
  background-color: #212a3a;
}

.header-search-form:hover .header-search-btn {
  opacity: 1;
}

.header-search-form-field:focus + .header-search-btn {
  background-image: url("../img/svg/icon-search-red.svg");
  opacity: 1;
}

/*Закладки, корзина, оформить заказ*/

.header-bookmark-link,
.header-cart-link,
.header-order-link {
  display: block;
  width: 150px;
  padding-top: 11px;
  padding-bottom: 13px;
}

.header-bookmark-link {
  position: relative;
  padding-left: 44px;
}

.header-bookmark-link::before {
  position: absolute;
  top: 12px;
  left: 17px;
  content: "";
  width: 14px;
  height: 16px;
  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-cart-link {
  position: relative;
  padding-left: 50px;
}

.header-cart-link::before {
  position: absolute;
  top: 12px;
  left: 18px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-full-cart-link {
  padding-right: 25px;
  background-color: #ee3643;
}

.header-order-link {
  padding-left: 20px;
  padding-right: 22px;

  background-color: #63a63e;
}

.header-cart-link:hover,
.header-bookmark-link:hover {
  background-color: #212a3a;
}

.header-cart-link:active,
.header-bookmark-link:active {
  background-color: #161d29;
}

.header-order-link:hover {
  background-color: #5fbb2d;
}

.header-order-link:active {
  background-color: #518534;
}

.header-bookmark-link:hover::before,
.header-cart-link:hover::before {
  opacity: 1;
}

/*Нижняя часть хэдэра*/

.header-bottom-block {
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.header-middle-block {
  display: flex;
  justify-content: flex-end;
  width: 940px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 40px;
}

.header-store-category {
  flex-shrink: 0;
  width: 200px;
  padding-top: 2px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 53px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  margin-left: 68px;
}

.header-phone,
.header-address {
  margin: 0;
  padding: 0;
}

.header-phone a {
  display: block;
  width: 270px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 71px;
  margin-bottom: 3px;
  border: 3px solid #ffffff;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: left 12px top 10px;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

/*Навигация пользователя*/

.header-user-navigation {
  width: 299px;
  margin-left: 51px;

  font-size: 0;
  line-height: 0;
}

.header-user-navigation-login,
.header-user-navigation-authorized {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

/*Авторизованный пользователь*/

.header-user-navigation-authorized {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 299px;
  margin-bottom: 7px;

  background-color: #ffffff;
}

.user-navigation-user-name {
  position: relative;
  display: block;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 47px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation-user-name::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/svg/icon-user.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-navigation-user-name:hover::before,
.user-navigation-user-name:focus::before {
  opacity: 1;
}

.user-navigation-user-name:active::before {
  opacity: 0.3;
}

.user-navigation-exit {
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;

  background-image: url("../img/svg/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 11px;
  opacity: 0.3;
}

.user-navigation-exit:hover,
.user-navigation-exit:focus {
  opacity: 1;
}

.user-navigation-exit:active {
  opacity: 0.3;
}

.header-user-navigation-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-user-navigation-menu-item {
  position: relative;
  margin-left: 17px;
  margin-right: 15px;
}

.header-user-navigation-menu-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -20px;
  margin-top: -2px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-navigation-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #ee3643;
}

.user-navigation-link:active {
  color: #32425c;
  opacity: 0.3;
}

/*Неавторизованный пользователь*/

.user-navigation-btn {
  display: block;
  padding-top: 11px;
  padding-bottom: 13px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.btn-log-in {
  position: relative;
  width: 121px;
  padding-left: 48px;

}

.btn-log-in::before {
  position: absolute;
  top: 14px;
  left: 14px;
  content: "";
  width: 20px;
  height: 17px;
  background-image: url("../img/svg/icon-login.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.btn-log-in:hover::before,
.btn-log-in:focus::before {
  opacity: 1;
}

.btn-log-in:active::before {
  opacity: 0.3;
}

.btn-sign-in {
  width: 150px;
  padding-left: 25px;
}

.header-user-navigation-login-item:nth-child(n+2) {
  margin-left: 10px;
}

.user-navigation-btn:hover,
.user-navigation-user-name:hover,
.user-navigation-btn:focus,
.user-navigation-user-name:focus {
  color: #ee3643;
}

.user-navigation-btn:active,
.user-navigation-user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Главная навигация*/

.header-main-navigation {
  background-color: #f4f7f9;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation-list {
  padding-left: 22px;
  padding-right: 24px;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  background-color: #293449;
}

.main-navigation-link:active {
  opacity: 0.5;
  background-color: #1d2739;
}

/*Футер*/

.main-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

/*Футер верх*/

.footer-top-block {
  padding-bottom: 50px;
  background-color: #32425c;
}

.footer-top-block-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.footer-top-left-column {
  padding-right: 38px;
}

.logo-link-footer {
  position: relative;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 32px;

  line-height: 0;
  text-align: center;
}

.logo-link-footer img {
  width: 138px;
  height: 23px;
}

.footer-address {
  width: 323px;
  margin: 0;
  padding: 0;
  margin-left: 3px;
}

.footer-phone-link {
  color: #ffffff;
}

.footer-info-menu-list,
.footer-products-menu-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-info-menu-list {
  padding-top: 19px;
  padding-left: 27px;
}

.footer-info-menu-list a {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 30px;

  line-height: 18px;
  color: #f1f5f7;
}

.footer-info-menu-item:first-child a {
  padding-left: 0;
}

.footer-info-menu-item:last-child a {
  padding-right: 0;
}

.footer-products-menu-list a {
  display: block;
  padding-top: 18px;
  padding-bottom: 23px;
  padding-left: 30px;
  padding-right: 30px;

  line-height: 18px;
  color: #ffd180;
}

.footer-products-menu-item:first-child a {
  padding-left: 0;
}

.footer-products-menu-item:last-child a {
  padding-right: 0;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

/*Футер низ*/

.footer-bottom-block {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
  color: #ffffff;
}

.footer-bottom-block-container {
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 34px;
  width: 940px;
  margin: 0 auto;
}

.footer-copyright {
  flex-shrink: 0;
  width: 228px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 162px;
}

.social-network-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 132px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 119px;
  padding: 0;

  list-style: none;
}

.social-network-item {
  margin-left: 3px;
  margin-bottom: 3px;
}

.social-link {
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 50%;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-network-item:first-child {
  margin-left: 0;
}

.social-link-vk {
  background-image: url("../img/svg/icon-vk.svg");
}

.social-link-fb {
  background-image: url("../img/svg/icon-fb.svg");
}

.social-link-ig {
  background-image: url("../img/svg/icon-insta.svg");
}

.social-link:hover,
.social-link:active {
  background-color: #ee3643;
}

.footer-feedback,
.footer-developer {
  margin: 0;
  padding: 0;
}

.footer-feedback {
  margin-right: 52px;
}

.footer-developer {
  margin-right: 15px;
}

.footer-feedback-link,
.footer-developer-link {
  color: #ffd180;
}

.footer-feedback-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active,
.footer-developer-link:active {
  color: #ee3643;
}

/*Мэйн*/

.main-content {
  background-color: #ffffff;
}

/*Главная страница*/

/*Специальные предложения*/

.special-offers {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
  margin-bottom: 33px;

  font-family: "Cuprum", sans-serif;
}

.special-offers-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 320px 300px;
  -ms-grid-rows: 143px 143px 143px;
  grid-template-columns: 320px 320px 300px;
  grid-template-rows: 143px 143px 143px;
  width: 940px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.special-offers-item {
  position: relative;
  width: 300px;
  padding-left: 23px;
  padding-right: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.popular-tools-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.special-offers-sliders-btn {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 40px;
  margin-top: -20px;
  border: none;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 22px 40px;
  background-position: 0 0;

  cursor: pointer;
}

.special-offers-sliders-btn-left {
  left: 25px;
  background-image: url("../img/svg/icon-left.svg");
}

.special-offers-sliders-btn-right {
  right: 20px;
  background-image: url("../img/svg/icon-right.svg");
}

/*Круглые кнопки слайдера*/

.sliders-btn-dot-container {
  position: absolute;
  left: 50%;
  display: flex;
  bottom: 36px;
  margin-left: -15px;
}

.sliders-btn-dot {
  width: 10px;
  height: 10px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  border: none;
  border-radius: 50%;

  background-color: #ffffff;

  cursor: pointer;
}

.sliders-btn-dot-red {
  background-color: #ee3643;
  box-shadow: inset 0 0 0 2px #ffffff;
}

.sliders-btn-dot:last-child {
  margin-right: 0;
}

.popular-tools-item {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  height: 266px;
  padding-left: 25px;
  padding-top: 23px;
  padding-bottom: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.popular-tools-item-visible {
  display: flex;
}

.popular-tools-item-drill {
  background-image: url("../img/index/slider-image-1.jpg");
}

.popular-tools-item-perforator {
  background-image: url("../img/index/slider-image-2.jpg");
}

.popular-tools-heading {
  margin: 0;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.special-offers-materials {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: #ffbf47;
  background-image: url("../img/svg/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position: right 43px top 31px;
}

.special-offers-tools {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: #3bbce3;
  background-image: url("../img/svg/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 75px 61px;
  background-position: right 28px top 33px;
}

.special-offers-machinery {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: #dc91d8;
  background-image: url("../img/svg/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 78px 62px;
  background-position: right 31px top 31px;
}

.special-offers-sale {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: #8ed78f;
  background-image: url("../img/svg/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 59px 72px;
  background-position: right 45px top 26px;
}

.special-offers-delivery {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  background-color: #ffc047;
  background-image: url("../img/svg/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 78px 63px;
  background-position: right 31px top 32px;
}

.special-offers-popular-tools {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 620px;
  height: 266px;
  padding: 0;

  background-color: #a9a9a9;
}

.special-offers-link {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 14px;
  border-radius: 3px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.special-offers-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.special-offers-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.open-catalog-link {
  width: 195px;
  margin-bottom: 2px;
}

.open-catalog-link:hover {
  background-color: #ca2c37;
}

.open-catalog-link:active {
  background-color: #ba2732;
}

/*Секции популярных товаров и производителей*/

.popular-products,
.popular-brands {
  width: 940px;
  margin: 0 auto;
}

.popular-brands {
  margin-bottom: 65px;
}

.popular-products-btn,
.popular-brands-btn {
  width: 253px;
  margin-right: 24px;
}

.popular-products-heading,
.popular-brands-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-heading-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 29px;
  margin: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -20px;
  padding: 0;

  list-style: none;
}

.popular-brands-item {
  width: 220px;
  height: 145px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.popular-brands-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.popular-brands-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  text-align: center;
}

.popular-brands-link img {
  width: auto;
}


/*Сервисы*/

.services {
  margin-bottom: 78px;

  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #f4f7f9;
}

.services-container {
  width: 940px;
  margin: 0 auto;
}

.services-heading {
  width: 398px;
}

.services-heading-text {
  margin: 0;
  padding-top: 64px;
  padding-bottom: 26px;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.services-heading p {
  margin: 0;
}

.services-sliders-container {
  display: flex;
}

.services-btn-list {
  position: relative;
  width: 240px;
  margin: 0;
  padding-top: 68px;
  padding-bottom: 99px;
  padding-left: 0;
  padding-right: 0;

  list-style: none;
}

.services-btn-list::before {
  position: absolute;
  right: 0;
  top: 20px;
  content: "";
  width: 10px;
  height: 279px;

  background-image: url("../img/index/shadow.png");
  background-repeat: no-repeat;
}

.services-btn {
  width: 240px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  border: none;
  box-shadow:
    inset 0 -1px 0 0 #293449,
    inset 0 1px 0 0 #405069;

  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
}

.services-btn-active {
  box-shadow: none;
  color: #32425c;
  background-color: #ffffff;
}

.services-btn:hover:not(.services-btn-active) {
  background-color: #293449;
}

.services-sliders-list {
  width: 700px;
  margin: 0;
  padding-left: 80px;
  padding-right: 0;

  list-style: none;
}

.services-sliders-item {
  display: none;
  padding-top: 67px;
  padding-bottom: 129px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.services-sliders-item-block {
  display: block;
}

.services-sliders-item-delivery {
  background-image: url("../img/index/services/delivery.png");
}

.services-sliders-item-guarantee {
  background-image: url("../img/index/services/guarantee.png");
}

.services-sliders-item-credit {
  background-image: url("../img/index/services/credit.png");
}

.services-sliders-heading {
  margin-top: 0;
  margin-bottom: 25px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services-sliders-item p {
  margin: 0;
  padding: 0;
}

.services-sliders-delivery {
  width: 275px;
}

.services-sliders-guarantee {
  width: 379px;
}

.services-sliders-credit {
  width: 279px;
}

/*Информация о доставке*/

.delivery-information {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 86px;

  background-color: #ffffff;
}

.delivery-information-paragraph {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery-information-paragraph-first {
  margin-bottom: 25px;
}

.delivery-information-paragraph-second {
  margin-bottom: 16px;
}

.delivery-information-paragraph-third {
  width: 179px;
  margin-bottom: 31px;
}

.delivery-information-headline {
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.transport-companies-delivery {
  width: 519px;
}

.transport-companies-list {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  list-style: none;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.transport-companies-list li {
  position: relative;
  padding-left: 36px;
  padding-top: 3px;
  padding-bottom: 17px;
}

.transport-companies-list li::before {
  position: absolute;
  top: 32%;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.self-delivery {
  width: 300px;
}

.self-delivery img {
  display: block;
  margin-bottom: 40px;
}

.about-company-btn {
  width: 220px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 3px;
}

.message-btn {
  width: 300px;
}

/*Каталог*/

.main-catalog {
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

/*Хлебные крошки*/

.breadcrumbs-navigation {
  width: 940px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 19px;
  padding-right: 0;
  padding-left: 0;
}

.breadcrumbs-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.breadcrumbs-navigation-item,
.breadcrumbs-navigation-link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-navigation-item {
  padding-right: 26px;
  padding-left: 18px;

  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: top 1px right 0;
}

.breadcrumbs-navigation-item:first-child {
  padding-left: 0;
}

.breadcrumbs-navigation-item:last-child {
  background-image: none;
}

.breadcrumbs-navigation-index-icon {
  display: block;
  width: 14px;
  height: 18px;

  background-image: url("../img/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: left -1px top 1px;
  background-size: 14px 12px;
}

.breadcrumbs-navigation-index {
  padding-right: 23px;
}

.breadcrumbs-navigation-catalog {
  padding-left: 17px;
}

.breadcrumbs-navigation-tools {
  padding-left: 14px;
}

.breadcrumbs-navigation-perforator {
  padding-left: 17px;
}

/*Содержимое страницы*/

.catalog-heading {
  width: 940px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;

  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.main-catalog-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.main-catalog-left-column {
  width: 220px;
  margin-right: 20px;
}

.main-catalog-right-column {
  width: 700px;
}

/*Блок фильтров*/

.products-filter-heading,
.products-sorting-heading {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
}

.products-filter-heading {
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 19px;
  margin-top: 0;
  border-radius: 3px;
}

.products-filter-price-heading,
.products-filter-brands-heading,
.products-filter-power-heading {
  display: block;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.products-filter-price-heading {
  margin-bottom: 14px;
}

.price-value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-filter-price-value {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 5px;
  border: none;
  border-radius: 3px;

  text-align: center;
  background-color: #f7f3ec;
}

.products-filter-brands-list,
.products-filter-power-list {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.products-filter-price-field,
.products-filter-brands-field,
.product-filter-power-field {
  margin: 0;
  padding: 0;
  border: none;
}

.products-filter-price-field {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.products-filter-range-container {
  width: 220px;
  height: 80px;
  padding: 39px 20px;
  margin-bottom: 9px;
  border-radius: 3px;

  background-color: #f7f3ec;
}

.filter-range-line-full {
  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.filter-range-line-current {
  position: relative;
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.filter-range-btn {
  position: absolute;
  width: 20px;
  height: 22px;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: url("../img/svg/filter-button.svg");
  background-repeat: no-repeat;
  background-size: 20px 22px;
}

.filter-range-btn-left {
  top: -9px;
  left: -1px;
}

.filter-range-btn-right {
  top: -9px;
  right: -8px;
}

.filter-range-btn:hover {
  cursor: grab;
}

.filter-range-btn:active {
  cursor: grabbing;
}

/*Фильтр бренд*/

.products-filter-brands-heading,
.products-filter-power-heading {
  padding-top: 16px;
  padding-bottom: 3px;
}

.products-filter-brands-list,
.products-filter-power-list {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid #e5e5e5;

  list-style: none;
}

.products-filter-power-list {
  padding-bottom: 70px;
  border: none;
}

.brand-label,
.power-label {
  position: relative;
  display: block;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;

  cursor: pointer;
}

.brand-label::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 27px;
  height: 24px;
  margin-top: -10px;

  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brand-label:hover::before,
.brand-checkbox:focus + .brand-label::before {
  background-image: url("../img/svg/checkbox-off-hover.svg");
}

.brand-checkbox:checked + .brand-label::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.brand-checkbox:checked + .brand-label:hover::before,
.brand-checkbox:checked:focus + .brand-label::before {
  background-image: url("../img/svg/checkbox-on-hover.svg");
}

.brand-checkbox:disabled + .brand-label,
.brand-checkbox:checked:disabled + .brand-label {
  opacity: 0.3;
}

/*Фильтр питание*/

.power-label::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 25px;
  height: 26px;
  margin-top: -13px;

  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.power-label:hover::before,
.power-radio:focus + .power-label::before {
  background-image: url("../img/svg/radio-off-hover.svg");
}

.power-radio:checked + .power-label::before {
  background-image: url("../img/svg/radio-on.svg");
}

.power-radio:checked + .power-label:hover::before,
.power-radio:checked:focus + .power-label::before {
  background-image: url("../img/svg/radio-on-hover.svg");
}

.power-radio:disabled + .power-label,
.power-radio:checked:disabled + .power-label {
  opacity: 0.3;
}

/*Кнопка "Показать"*/

.products-filter-btn-show {
  width: 140px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

/*Сортировка*/

.products-sorting {
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 17px;
  padding-left: 19px;
  margin-bottom: 20px;
  border-radius: 3px;

  background-color: #f7f3ec;
}

.products-sorting-heading {
  margin: 0;
}

.products-sorting-link-container {
  display: flex;
  flex-wrap: wrap;
}

.products-sorting-link {
  position: relative;
  display: block;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.type-sorting {
  margin-left: 71px;
}

.functional-sorting {
  margin-left: 65px;
}

.sort-ascending,
.sort-descending {
  width: 11px;
  height: 18px;
}

.sort-ascending {
  margin-right: 21px;
  margin-left: 46px;
}

.sort-ascending:active .sort-ascending-triangle,
.sort-descending:active .sort-descending-triangle {
  fill: #ee3643;
}

.products-sorting-link:not(.active-sort):not(.sort-descending):not(.sort-ascending)::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px dotted #ee3643;
}

.products-sorting-link:hover:not(.active-sort),
.products-sorting-link:focus:not(.active-sort) {
  opacity: 1;
}

.products-sorting-link:hover:not(.active-sort):not(.sort-descending):not(.sort-ascending)::before,
.products-sorting-link:focus:not(.active-sort):not(.sort-descending):not(.sort-ascending)::before {
  border-bottom: 1px solid #ee3643;
}

.active-sort {
  color: #ee3643;
  opacity: 1;
}

.active-sort::before {
  border: none;
}

/*Карточки товаров*/

.product-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-cards-list-catalog {
  width: 700px;
}

.product-cards-list-catalog li:nth-child(3n) {
  margin-right: 0;
}

.product-cards-list-index {
  width: 940px;
}

.product-cards-list-index li:nth-child(4n) {
  margin-right: 0;
}

.product-card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.product-card-label-new {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.label-new-show {
  display: block;
}

.product-image {
  display: block;
}

.product-heading {
  max-width: 190px;
  padding-top: 7px;
  padding-bottom: 8px;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  text-align: center;
}

.old-price,
.current-price {
  display: block;
  width: 141px;
  margin-right: 37px;
  margin-left: 42px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.old-price {
  padding-top: 4px;
  padding-bottom: 11px;

  color: #999999;
  text-decoration: line-through;
}

.current-price {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  color: #ffffff;
  background-color: #ee3643;
}

.current-price::after {
  position: absolute;
  top: 0;
  right: -19px;
  content: "";
  width: 0;
  height: 0;

  border: 19px solid white;
  border-right-color: transparent;
  border-left-color: #ee3643;
}

/*Кнопки ховера*/

.product-card-buy-btn,
.product-card-bookmark-btn {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;

  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-card-buy-btn {
  padding-left: 49px;
  padding-right: 45px;
  border: none;
  margin-bottom: 8px;

  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.product-card-buy-btn:hover {
  background-color: #5fbb2d;
}

.product-card-buy-btn:active {
  background-color: #518534;
}

.product-card-bookmark-btn {
  padding-left: 33px;
  padding-right: 28px;
  border: 3px solid #63a63e;

  color: #32425c;
  background-color: #ffffff;
}

.product-card-bookmark-btn:hover {
  border-color: #32425c;
}

.product-card-bookmark-btn:active {
  opacity: 0.3;
}

.product-card-hover-block {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
}

.product-card-item:hover .product-image {
  display: none;
}

.product-card-item:hover .product-card-hover-block {
  display: flex;
}

.product-card-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

/*Пагинация*/

.pagination {
  width: 940px;
  margin: 0 auto;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;

  list-style: none;
}

.pagination-link {
  display: block;
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.pagination-link:hover {
  border-color: #bdc6ca;
}

.pagination-link:active {
  border-color: #ee3643;
}

.pagination-current-link {
  border: none;

  color: #ffffff;
  background-color: #ee3643;
}

.pagination-link-next {
  padding-left: 32px;
  padding-right: 30px;
}

/*Информационная сноска*/

.product-footnote {
  background-color: #f4f7f9;
}

.product-footnote-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 68px;
}

.product-footnote-heading {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 28px;
  padding-left: 0;
  padding-right: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.product-footnote-content {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/*Модальные окна*/

.modal-map,
.modal-message,
.modal-add-to-cart {
  display: none;
}

.modal-show {
  display: block;
}

.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 9px;

  width: 21px;
  height: 21px;
  border: 0;

  background-color: transparent;
  background-image: url("../img/svg/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;

  cursor: pointer;
}

/*Товар добавлен в корзину*/

.modal-add-to-cart {
  position: fixed;
  top: 200px;
  left: 50%;
  z-index: 5;

  width: 620px;
  margin-left: -310px;

  background-color: #ffffff;
  background-image: url("../img/svg/icon-mark.svg");
  background-position: left 81px top 55px;
  background-repeat: no-repeat;
  background-size: 66px 66px;
  box-shadow:
    0 20px 40px 0 rgba(41, 52, 73, 0.75),
    inset 0 7px 0 0 #ee3643;
}

.add-to-cart-text {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 67px;
  padding-left: 179px;

  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.add-to-cart-buttons {
  display: flex;
  justify-content: center;
  padding-top: 37px;
  padding-bottom: 37px;
  margin: 0;

  background-color: #f1f1f1;
}

.add-to-cart-btn {
  width: 220px;
  cursor: pointer;
}

.add-to-cart-btn:not(:last-child) {
  margin-right: 20px;
}

.continue-shopping-btn {
  color: #000000;
  background-color: #ffffff;
}

/*Большая карта*/

.modal-map {
  position: absolute;
  bottom: 646px;
  left: 50%;
  z-index: 4;

  margin-left: -470px;
  width: 940px;

  background-color: #ffffff;
  box-shadow: 0 0 14px 1px rgba(47, 42, 43, 0.5);
}

.modal-close-btn-map {
  top: 9px;
}

/*Напишите нам!*/

.modal-message {
  position: fixed;
  bottom: 201px;
  left: 50%;
  z-index: 5;

  display: none;
  margin-left: -310px;
  width: 620px;

  background-color: #ffffff;
  box-shadow:
    0 20px 40px 0 rgba(0, 0, 0, 0.75),
    inset 0 7px 0 0 #ee3643;
}

.modal-message-fields-container p {
  margin: 0;
  padding: 0;
}

.modal-message-fields-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 27px;
  padding-left: 80px;
  padding-right: 80px;
}

.modal-message-label {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-message-input::placeholder,
.modal-message-textarea::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.modal-message-field {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 3px;

  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: #ffffff;
}

.modal-message-field:hover {
  border-color: #b5b5b5;
}

.modal-message-field:focus {
  border-color: #ee3643;
}

.modal-message-input {
  width: 220px;
  margin-bottom: 20px;
}

.modal-message-textarea {
  width: 460px;
  margin-bottom: 10px;
}

.modal-message-send {
  padding: 37px 80px;
  margin: 0;

  background-color: #f4f4f4;
}

.modal-message-send-btn {
  width: 100%;
}
